* {

    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {

    background-color: #f77f00;
    
}

body::before {

    content: "";
    background-image: url("./img/background.png");
    background-size: 500px;
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.separator {

    margin: 20px;

}

.container {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calculator {
    
    background-color: #003049;
    width: 200px;
    height: 300px;
    color: white;
    display: inherit;
    flex-direction: column;
    padding: 40px;
    position: relative;
    border-radius: 25px;
    justify-content: space-around;
    border-bottom: solid 8px #021b28;

}

.calculator--title {

    text-align: center;
    line-height: 20px;
}

.calculator form {

    display: inherit;
    flex-direction: column;
    text-align: center;

}

.calculator form label {

    margin-top: 5px;

}

.calculator .calculator__form form input[type="text"] {

    margin-top: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    height: 30px;
    border-radius: 25px;
    color: white;
    padding: 0px 20px;
    outline: none;
    text-align: center;

}

.calculator .calculator__form form input[type="button"] {

    background-color: #f77f00;
    border: none;
    color: white;
    border-radius: 25px;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    border-bottom: solid 4px #7b4205;
    width: 100%;

}

.calculator .calculator__applyCoupon {

    width: 100%;
    background: #f77f00;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

}

.calculator .calculator__applyCoupon form {

    display: flex;
    flex-direction: row;

}

.calculator .calculator__applyCoupon form input[type="text"] {

    width: 80px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: white;

}

.calculator .calculator__applyCoupon form input[type="text"]::placeholder {

    color: rgba(255, 255, 255, 0.3);

}

.calculator .calculator__applyCoupon form input[type="button"] {

    margin: 0px;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;

}

.product {

    height: 300px;
    width: 300px;
    position: relative;
    background-color: #eae2b7;
    border-radius: 25px;
    border-bottom: solid 8px #807c64;
    padding: 40px;

}

.product .product__response fieldset {

    border-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product .product__response fieldset legend {

    text-align: center;
    padding: 0px 5px;

}

.product .product__response span {

    font-weight: bold;
    font-size: 25px;

}

.calculator--removeCoupon {

    background: none;
    border: none;
    color: white;
    cursor: pointer;

}

.hide {

    display: none!important;

}